## Глава 5

# Задание 5.1

In [1]:
import pandas as pd 
df = pd.read_csv('precious_metal_new.csv') 
df = df.loc[:,['gold', 'gold_usd', 'silver', 'silver_usd', 'platinum', 'platinum_usd', 'palladium', 'palladium_usd', 'date']]
df

,gold,gold_usd,silver,silver_usd,platinum,platinum_usd,palladium,palladium_usd,date
0,4784.40,62.135065,58.700000,0.762338,2183.31,28.354675,5677.620000,73.735325,31.10.2020 0:00
1,4759.17,61.807403,60.670000,0.787922,2195.94,28.518701,5662.270000,73.535974,30.10.2020 0:00
2,4729.52,61.422338,60.930000,0.791299,2179.19,28.301169,5812.010000,75.480649,29.10.2020 0:00
3,4667.69,60.619351,59.680000,0.775065,2145.92,27.869091,5813.410000,75.498831,28.10.2020 0:00
4,4673.64,60.696623,60.850000,0.790260,2189.85,28.439610,4679.690859,60.775206,27.10.2020 0:00
...,...,...,...,...,...,...,...,...,...
123,4047.21,52.561169,49.593203,0.644068,1800.29,23.380390,4298.850000,55.829221,09.05.2020 0:00
124,4023.90,52.258442,35.700000,0.463636,1794.33,23.302987,4324.990000,56.168701,08.05.2020 0:00
125,4040.41,52.472857,35.850000,0.465584,1795.58,23.319221,4221.390000,54.823247,07.05.2020 0:00
126,4014.11,52.131299,35.860000,0.465714,1819.12,23.624935,4655.360000,60.459221,01.05.2020 0:00
127,4041.80,52.490909,35.930000,0.466623,1847.95,23.999351,4638.830000,60.244545,30.04.2020 0:00

# Задание 5.2

In [3]:
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y %H:%M')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gold           128 non-null    float64
 1   gold_usd       128 non-null    float64
 2   silver         128 non-null    float64
 3   silver_usd     128 non-null    float64
 4   platinum       128 non-null    float64
 5   platinum_usd   128 non-null    float64
 6   palladium      128 non-null    float64
 7   palladium_usd  128 non-null    float64
 8   date           128 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(8)
memory usage: 9.1 KB