## Глава 5

# Задание 5.1

In [29]:
import pandas as pd 
df = pd.read_csv('precious_metal_new.csv') 
df = df.loc[:,['gold', 'gold_usd', 'silver', 'silver_usd', 'platinum', 'platinum_usd', 'palladium', 'palladium_usd', 'date']]
df

,gold,gold_usd,silver,silver_usd,platinum,platinum_usd,palladium,palladium_usd,date
0,4784.40,62.135065,58.700000,0.762338,2183.31,28.354675,5677.620000,73.735325,31.10.2020 0:00
1,4759.17,61.807403,60.670000,0.787922,2195.94,28.518701,5662.270000,73.535974,30.10.2020 0:00
2,4729.52,61.422338,60.930000,0.791299,2179.19,28.301169,5812.010000,75.480649,29.10.2020 0:00
3,4667.69,60.619351,59.680000,0.775065,2145.92,27.869091,5813.410000,75.498831,28.10.2020 0:00
4,4673.64,60.696623,60.850000,0.790260,2189.85,28.439610,4679.690859,60.775206,27.10.2020 0:00
...,...,...,...,...,...,...,...,...,...
123,4047.21,52.561169,49.593203,0.644068,1800.29,23.380390,4298.850000,55.829221,09.05.2020 0:00
124,4023.90,52.258442,35.700000,0.463636,1794.33,23.302987,4324.990000,56.168701,08.05.2020 0:00
125,4040.41,52.472857,35.850000,0.465584,1795.58,23.319221,4221.390000,54.823247,07.05.2020 0:00
126,4014.11,52.131299,35.860000,0.465714,1819.12,23.624935,4655.360000,60.459221,01.05.2020 0:00
127,4041.80,52.490909,35.930000,0.466623,1847.95,23.999351,4638.830000,60.244545,30.04.2020 0:00

# Задание 5.2

In [30]:
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y %H:%M')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gold           128 non-null    float64
 1   gold_usd       128 non-null    float64
 2   silver         128 non-null    float64
 3   silver_usd     128 non-null    float64
 4   platinum       128 non-null    float64
 5   platinum_usd   128 non-null    float64
 6   palladium      128 non-null    float64
 7   palladium_usd  128 non-null    float64
 8   date           128 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(8)
memory usage: 9.1 KB

,gold,gold_usd,silver,silver_usd,platinum,platinum_usd,palladium,palladium_usd,date
0,4784.40,62.135065,58.700000,0.762338,2183.31,28.354675,5677.620000,73.735325,2020-10-31
1,4759.17,61.807403,60.670000,0.787922,2195.94,28.518701,5662.270000,73.535974,2020-10-30
2,4729.52,61.422338,60.930000,0.791299,2179.19,28.301169,5812.010000,75.480649,2020-10-29
3,4667.69,60.619351,59.680000,0.775065,2145.92,27.869091,5813.410000,75.498831,2020-10-28
4,4673.64,60.696623,60.850000,0.790260,2189.85,28.439610,4679.690859,60.775206,2020-10-27
...,...,...,...,...,...,...,...,...,...
123,4047.21,52.561169,49.593203,0.644068,1800.29,23.380390,4298.850000,55.829221,2020-05-09
124,4023.90,52.258442,35.700000,0.463636,1794.33,23.302987,4324.990000,56.168701,2020-05-08
125,4040.41,52.472857,35.850000,0.465584,1795.58,23.319221,4221.390000,54.823247,2020-05-07
126,4014.11,52.131299,35.860000,0.465714,1819.12,23.624935,4655.360000,60.459221,2020-05-01
127,4041.80,52.490909,35.930000,0.466623,1847.95,23.999351,4638.830000,60.244545,2020-04-30

# Задание 5.3

In [31]:
df['month'] = pd.DatetimeIndex(df['date']).month
df['month'].value_counts()

10    23
7     23
9     22
8     21
6     20
5     18
4      1
Name: month, dtype: int64

In [36]:
def change_month(x):
    if x==4:
        return 'April'
    elif x==5:
        return 'May'
    elif x==6:
        return 'June'
    elif x==7:
        return 'Jule'
    elif x==8:
        return 'AG'
    elif x==9:
        return 'st'
    elif x==10:
        return 'okt'
    else:
        return x


df['month_new'] = df['month'].apply(change_month)
df['month_new']
df

,gold,gold_usd,silver,silver_usd,platinum,platinum_usd,palladium,palladium_usd,date,month,month_new
0,4784.40,62.135065,58.700000,0.762338,2183.31,28.354675,5677.620000,73.735325,2020-10-31,10,okt
1,4759.17,61.807403,60.670000,0.787922,2195.94,28.518701,5662.270000,73.535974,2020-10-30,10,okt
2,4729.52,61.422338,60.930000,0.791299,2179.19,28.301169,5812.010000,75.480649,2020-10-29,10,okt
3,4667.69,60.619351,59.680000,0.775065,2145.92,27.869091,5813.410000,75.498831,2020-10-28,10,okt
4,4673.64,60.696623,60.850000,0.790260,2189.85,28.439610,4679.690859,60.775206,2020-10-27,10,okt
...,...,...,...,...,...,...,...,...,...,...,...
123,4047.21,52.561169,49.593203,0.644068,1800.29,23.380390,4298.850000,55.829221,2020-05-09,5,May
124,4023.90,52.258442,35.700000,0.463636,1794.33,23.302987,4324.990000,56.168701,2020-05-08,5,May
125,4040.41,52.472857,35.850000,0.465584,1795.58,23.319221,4221.390000,54.823247,2020-05-07,5,May
126,4014.11,52.131299,35.860000,0.465714,1819.12,23.624935,4655.360000,60.459221,2020-05-01,5,May
127,4041.80,52.490909,35.930000,0.466623,1847.95,23.999351,4638.830000,60.244545,2020-04-30,4,April

## Задание 5.4

In [1]:
import pandas as pd 
df = pd.read_csv('precious_metal_new.csv') 
df = df.loc[:,['gold', 'gold_usd', 'silver', 'silver_usd', 
 'platinum', 'platinum_usd', 'palladium', 'palladium_usd', 
 'date']]
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y %H:%M') 

df['month']=pd.DatetimeIndex(df['date']).month
months = {1:'Январь', 2:'Февраль', 3:'Март', 4:'Апрель', 5:'Май', 6:'Июнь', 7:'Июль', 8:'Август', 9:'Сентябрь', 10:'Октябрь', 11:'Ноябрь', 12:'Декабрь'}
df['month'] = df['month'].apply(lambda i: months[i])
#print(df)

#__________________________________________________________
fn = df[df["month"] == 'Май']
print(fn)

        gold   gold_usd     silver  silver_usd  platinum  platinum_usd  \
109  3925.38  50.978961  40.010000    0.519610   1910.77     24.815195
110  3939.39  51.160909  49.593203    0.644068   1911.06     24.818961
111  3895.83  50.595195  39.270000    0.510000   1898.62     24.657403
112  3940.32  51.172987  39.570000    0.513896   1914.41     24.862468
113  3990.41  51.823506  49.593203    0.644068   1922.06     24.961818
114  4003.70  51.996104  39.290000    0.510260   1915.82     24.880779
115  3951.23  51.314675  39.230000    0.509481   1922.26     24.964416
116  4070.13  52.858831  40.630000    0.527662   1976.86     25.673506
117  4038.71  52.450779  39.850000    0.517532   1875.92     24.362597
118  4122.31  53.536494  40.710000    0.528701   1914.62     24.865195
119  4083.17  53.028182  49.593203    0.644068   1821.70     23.658442
120  4079.71  52.983247  36.910000    0.479351   1818.33     23.614675
121  4021.35  52.225325  36.810000    0.478052   1797.94     23.349870
122  4021.69  52.229740  36.560000    0.474805   1810.82     23.517143
123  4047.21  52.561169  49.593203    0.644068   1800.29     23.380390
124  4023.90  52.258442  35.700000    0.463636   1794.33     23.302987
125  4040.41  52.472857  35.850000    0.465584   1795.58     23.319221
126  4014.11  52.131299  35.860000    0.465714   1819.12     23.624935

     palladium  palladium_usd       date month
109    4369.75      56.750000 2020-05-30   Май
110    4434.75      57.594156 2020-05-29   Май
111    4489.52      58.305455 2020-05-28   Май
112    4476.11      58.131299 2020-05-27   Май
113    4408.08      57.247792 2020-05-26   Май
114    4575.79      59.425844 2020-05-23   Май
115    4647.17      60.352857 2020-05-22   Май
116    4809.59      62.462208 2020-05-21   Май
117    4633.95      60.181169 2020-05-20   Май
118    4505.00      58.506494 2020-05-19   Май
119    4295.34      55.783636 2020-05-16   Май
120    4302.18      55.872468 2020-05-15   Май
121    4341.08      56.377662 2020-05-14   Май
122    4403.10      57.183117 2020-05-13   Май
123    4298.85      55.829221 2020-05-09   Май
124    4324.99      56.168701 2020-05-08   Май
125    4221.39      54.823247 2020-05-07   Май
126    4655.36      60.459221 2020-05-01   Май

## Задание 5.5

## Бонус от вас