# ГЛава 4
##  задание 1.1

In [26]:
import matplotlib.pyplot as plt 
import pandas as pd 
df = pd.read_csv('ekb_weather.csv') 
df=(df.loc[0:10])
df

                date  temp  pressure  humidity
0   31.12.2019 23:00  -9.2     743.1        76
1   31.12.2019 20:00  -8.8     744.1        75
2   31.12.2019 17:00  -7.9     744.5        82
3   31.12.2019 14:00 -11.5     745.9        85
4   31.12.2019 11:00 -12.8     749.0        84
5   31.12.2019 08:00 -15.3     752.8        83
6   31.12.2019 05:00 -18.4     757.6        80
7   31.12.2019 02:00 -20.9     761.5        79
8   30.12.2019 23:00 -21.4     764.2        78
9   30.12.2019 20:00 -20.9     766.8        79
10  30.12.2019 17:00 -18.3     768.4        79

##  задание 1.2

In [27]:
import matplotlib.pyplot as plt 
import pandas as pd 
df = pd.read_csv('ekb_weather.csv') 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      2919 non-null   object
 1   temp      2919 non-null   float64
 2   pressure  2918 non-null   float64
 3   humidity  2919 non-null   int64
dtypes: float64(2), int64(1), object(1)
memory usage: 91.3+ KB

##  задание 1.3

In [28]:
df['month'] = pd.DatetimeIndex(df['date']).month
df['month'].value_counts()
df

                  date  temp  pressure  humidity  month
0     31.12.2019 23:00  -9.2     743.1        76     12
1     31.12.2019 20:00  -8.8     744.1        75     12
2     31.12.2019 17:00  -7.9     744.5        82     12
3     31.12.2019 14:00 -11.5     745.9        85     12
4     31.12.2019 11:00 -12.8     749.0        84     12
...                ...   ...       ...       ...    ...
2914  01.01.2019 14:00 -10.6     770.8        71      1
2915  01.01.2019 11:00 -11.9     771.3        75      1
2916  01.01.2019 08:00 -12.8     770.9        75      1
2917  01.01.2019 05:00 -12.8     770.9        75      1
2918  01.01.2019 02:00 -11.8     770.6        75      1

[2919 rows x 5 columns]

In [30]:
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y %H:%M')

df['month']=pd.DatetimeIndex(df['date']).month
months = {1:'Январь', 2:'Февраль', 3:'Март', 4:'Апрель', 5:'Май', 6:'Июнь', 7:'Июль', 8:'Август', 9:'Сентябрь', 10:'Октябрь', 11:'Ноябрь', 12:'Декабрь'}
df['month'] = df['month'].apply(lambda i: months[i])
df

                    date  temp  pressure  humidity    month
0    2019-12-31 23:00:00  -9.2     743.1        76  Декабрь
1    2019-12-31 20:00:00  -8.8     744.1        75  Декабрь
2    2019-12-31 17:00:00  -7.9     744.5        82  Декабрь
3    2019-12-31 14:00:00 -11.5     745.9        85  Декабрь
4    2019-12-31 11:00:00 -12.8     749.0        84  Декабрь
...                  ...   ...       ...       ...      ...
2914 2019-01-01 14:00:00 -10.6     770.8        71   Январь
2915 2019-01-01 11:00:00 -11.9     771.3        75   Январь
2916 2019-01-01 08:00:00 -12.8     770.9        75   Январь
2917 2019-01-01 05:00:00 -12.8     770.9        75   Январь
2918 2019-01-01 02:00:00 -11.8     770.6        75   Январь

[2919 rows x 5 columns]

##  задание 1.4

In [46]:
import matplotlib.pyplot as plt  
import pandas as pd  
df = pd.read_csv('ekb_weather.csv')  
 
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y %H:%M')  
 
 
 
df['month'] = pd.DatetimeIndex(df['date']).month 
 
months = {1:'Январь', 2:'Февраль', 3:'Март', 4:'Апрель', 5:'Май', 6:'Июнь', 7:'Июль', 8:'Август', 9:'Сентябрь', 10:'Октябрь', 11:'Ноябрь', 12:'Декабрь'} 
df['month'] = df['month'].apply(lambda i: months[i]) 
df.to_csv('new_precious_metal.csv') 
print(df) 
print('Сред темп', df['temp'].mean()) 
print('Сред давл',df['pressure'].mean()) 
print('Сред влаж',df['humidity'].mean()) 
 
df_new1=df[df['month']=='Январь'] 
df_new2=df[df['month']=='Декабрь'] 
print(df_new1['temp'].mean()) 
print(df_new2['temp'].mean()) 
 
if (df_new1['temp'].mean()) < (df_new2['temp'].mean()): 
    print ("Январь") 
else: 
    print('Декабрь')

                    date  temp  pressure  humidity    month
0    2019-12-31 23:00:00  -9.2     743.1        76  Декабрь
1    2019-12-31 20:00:00  -8.8     744.1        75  Декабрь
2    2019-12-31 17:00:00  -7.9     744.5        82  Декабрь
3    2019-12-31 14:00:00 -11.5     745.9        85  Декабрь
4    2019-12-31 11:00:00 -12.8     749.0        84  Декабрь
...                  ...   ...       ...       ...      ...
2914 2019-01-01 14:00:00 -10.6     770.8        71   Январь
2915 2019-01-01 11:00:00 -11.9     771.3        75   Январь
2916 2019-01-01 08:00:00 -12.8     770.9        75   Январь
2917 2019-01-01 05:00:00 -12.8     770.9        75   Январь
2918 2019-01-01 02:00:00 -11.8     770.6        75   Январь

[2919 rows x 5 columns]
Сред темп 3.9539225762247345
Сред давл 761.4341329677861
Сред влаж 66.2579650565262
-11.375403225806451
-7.033603238866397
Январь

In [47]:
df_neew11=df[df['month']=='Апрель'] 
df_neew22=df[df['month']=='Ноябрь'] 
print(df_neew11['pressure'].mean()) 
print(df_neew22['pressure'].mean()) 
 
if (df_neew11['pressure'].mean()) < (df_neew22['pressure'].mean()): 
    print ("Апрель") 
else: 
    print('Ноябрь')

764.6129166666666
770.9220833333333
Апрель

In [48]:
df_neew13=df[df['month']=='Июнь'] 
df_neew23=df[df['month']=='Август'] 
print(df_neew13['humidity'].mean()) 
print(df_neew22['humidity'].mean()) 
 
if (df_neew13['humidity'].mean()) < (df_neew23['humidity'].mean()): 
    print ("Июнь") 
else: 
    print('Август')

55.5875
74.18333333333334
Июнь

##  задание 1.5